.stat-container {
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    font-family: sans-serif;
}

.stat-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stat-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
}

.stat-filter select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 150px;
}

.stat-list {
    display: flex;
    flex-direction: column;
    color: black;
    gap: 16px;
}

.stat-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    transition: box-shadow 0.2s;
}

.stat-card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.stat-empty {
    color: black;
    font-size: 20px;
}

.quota-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.quota-card {
    flex: 1 1 calc(50% - 20px);
    background-color: #ffffd9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    min-width: 280px;
    box-sizing: border-box;
}

.quota-detail-card{
    background-color: #ffffa1;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    min-width: 280px;
    box-sizing: border-box;
}

.quota-card p {
    margin: 8px 0;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

.date-range-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.date-picker-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.date-picker-wrapper label {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.custom-datepicker {
    width: 150px;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
}

.custom-datepicker:focus {
    border-color: #007bff;
}

.separator {
    font-size: 24px;
    font-weight: bold;
    color: #555;
}


@media (max-width: 900px) {
    .quota-card {
        flex: 1 1 100%;
    }
}